*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#background{
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background: url(bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(20px);
    z-index: -1;
}